.navigationBar{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
    border-bottom: 0.1rem solid black;
    align-items: center;
}

.logo{
    height: 3rem;
}